**1. Функція з параметром**

Створіть функцію `show_menu()`, яка приймає перелік страв, наприклад ['Піца', 'Паста', 'Салат'] і виводить меню ресторану в наступному вигляді:
```
=== МЕНЮ ===
1. Піца
2. Паста
3. Салат
=============
```

Викличте цю функцію на списку ["Суп грибний", "Котлета по-київськи", "Лимонад"].

In [1]:
def show_menu(dishes):
    print("=== МЕНЮ ===")
    for i, dish in enumerate(dishes, start=1):
        print(f"{i}. {dish}")
    print("=============")

show_menu(["Суп грибний", "Котлета по-київськи", "Лимонад"])

=== МЕНЮ ===
1. Суп грибний
2. Котлета по-київськи
3. Лимонад
=============


---

**2. Функція з параметром**

Створіть функцію `print_square(n)`, яка виводить квадрат числа.

Наприклад: `print_square(5)` → "Квадрат числа 5 = 25"

Викличте її з різними числами.

In [2]:
def print_square(n):
    print(f"Квадрат числа {n} = {n**2}")

print_square(5)
print_square(8)
print_square(12)

Квадрат числа 5 = 25
Квадрат числа 8 = 64
Квадрат числа 12 = 144


---

**3. Функція з поверненням значення**

Створіть функцію `multiply(a, b)`, яка повертає добуток двох чисел.

Викличте функцію на власноруч заданих значеннях та виведіть результат.

In [3]:
def multiply(a, b):
    return a * b

result1 = multiply(5, 3)
result2 = multiply(7, 4)

print("5 * 3 =", result1)
print("7 * 4 =", result2)

5 * 3 = 15
7 * 4 = 28


---

**4. Функція пошуку максимумального значення**

Створіть функцію `find_max(numbers)`, яка:
- Приймає список чисел
- Повертає найбільше число в списку

Протестуйте на списку `[15, 42, 8, 23, 56, 19]`.

In [4]:
def find_max(numbers):
    return max(numbers)

numbers = [15, 42, 8, 23, 56, 19]
max_number = find_max(numbers)

print("Найбільше число в списку:", max_number)

Найбільше число в списку: 56


---

**5. Функція з умовами**

Створіть функцію `check_grade(grade)`, яка:
- Приймає оцінку (число)
- Повертає "Здав" якщо grade >= 60
- Повертає "Не здав" якщо grade < 60

Протестуйте на різних оцінках.

In [5]:
def check_grade(grade):
    if grade >= 60:
        return "Здав"
    else:
        return "Не здав"

print("Оцінка 72:", check_grade(72))
print("Оцінка 58:", check_grade(58))
print("Оцінка 90:", check_grade(90))
print("Оцінка 45:", check_grade(45))

Оцінка 72: Здав
Оцінка 58: Не здав
Оцінка 90: Здав
Оцінка 45: Не здав